In [ ]:
# Library
import psycopg2
import pandas as pd

In [ ]:
AccountsCountry = pd.read_csv("D:\Code\DE\Model\Wealth Data\Wealth-AccountsCountry.csv")

In [ ]:
AccountsCountry = AccountsCountry[['Country Code', 'Short Name', 'Table Name', 'Long Name', 'Currency Unit']]
# Drop duplicates based on 'Country Name' and keep the first occurrence
AccountsCountry = AccountsCountry.drop_duplicates(subset=['Country Code'], keep='first')
AccountsCountry

In [ ]:
AccountData = pd.read_csv("D:\Code\DE\Model\Wealth Data\Wealth-AccountData.csv")

# Mengubah nilai-nilai dalam kolom tahun-tahun menjadi tipe numerik
year_columns = AccountData.columns[4:]  # Mengambil kolom dari tahun 1995 ke depan
AccountData[year_columns] = AccountData[year_columns].apply(pd.to_numeric, errors='coerce')

AccountData

In [ ]:
AccountSeries = pd.read_csv("D:\Code\DE\Model\Wealth Data\Wealth-AccountSeries.csv")

In [ ]:
AccountSeries = AccountSeries[['Series Code', 'Topic', 'Indicator Name', 'Long definition']]
AccountSeries

In [ ]:
def create_database():
    # Connect to default database
    conn = psycopg2.connect("host=localhost dbname=postgres user=postgres password=root")
    conn.set_session(autocommit=True)
    cur = conn.cursor()

    # Create sparkify database with UTF8 encoding
    cur.execute("DROP DATABASE IF EXISTS accounts")
    cur.execute("CREATE DATABASE accounts")

    # Close connection to default database
    conn.close()

    # Connect to sparkify database
    conn = psycopg2.connect("host=localhost dbname=accounts user=postgres password=root")
    cur = conn.cursor()

    return cur, conn

In [ ]:
cur, conn = create_database()

In [ ]:
conn.rollback()

In [ ]:
country_table_create = """CREATE TABLE IF NOT EXISTS accountscountry(
                        country_code VARCHAR PRIMARY KEY,
                        short_name VARCHAR,
                        table_name VARCHAR,
                        long_name VARCHAR,
                        currency_unit VARCHAR
)"""

cur.execute(country_table_create)
conn.commit()

In [ ]:
data_table_create = """CREATE TABLE IF NOT EXISTS accountdata(
                    country_name VARCHAR,
                    country_code VARCHAR,
                    indicator_name VARCHAR,
                    indicator_code VARCHAR,
                    year_1995 numeric, year_1996 numeric, year_1997 numeric, year_1998 numeric, year_1999 numeric, 
                    year_2000 numeric, year_2001 numeric, year_2002 numeric, year_2003 numeric, year_2004 numeric,
                    year_2005 numeric, year_2006 numeric, year_2007 numeric, year_2008 numeric, year_2009 numeric,
                    year_2010 numeric, year_2011 numeric, year_2012 numeric, year_2013 numeric, year_2014 numeric,
                    year_2015 numeric, year_2016 numeric, year_2017 numeric, year_2018 numeric
)"""

cur.execute(data_table_create)
conn.commit()

In [ ]:
series_table_create = """CREATE TABLE IF NOT EXISTS accountseries(
                      series_code VARCHAR,
                      topic VARCHAR,
                      indicator_name VARCHAR,
                      long_definition VARCHAR
)"""

cur.execute(series_table_create)
conn.commit()

In [ ]:
country_table_insert = """INSERT INTO accountscountry(
                        country_code,
                        short_name,
                        table_name,
                        long_name,
                        currency_unit)
                        VALUES(%s, %s, %s, %s, %s
)"""

In [ ]:
conn.rollback()

In [ ]:
for i, row in AccountsCountry.iterrows():
    cur.execute(country_table_insert, list(row))

In [ ]:
data_table_insert = """INSERT INTO accountdata(
                    country_name,
                    country_code,
                    indicator_name,
                    indicator_code,
                    year_1995, year_1996, year_1997, year_1998, year_1999, 
                    year_2000, year_2001, year_2002, year_2003, year_2004,
                    year_2005, year_2006, year_2007, year_2008, year_2009,
                    year_2010, year_2011, year_2012, year_2013, year_2014,
                    year_2015, year_2016, year_2017, year_2018)
                    VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s,  %s, %s, %s, %s,  %s, %s, %s, %s 
)"""

In [ ]:
for i, row in AccountData.iterrows():
    cur.execute(data_table_insert, list(row))

In [ ]:
series_table_insert = """INSERT INTO accountseries(
                      series_code,
                      topic,
                      indicator_name,
                      long_definition)
                      VALUES(%s, %s, %s, %s
)"""

In [ ]:
for i, row in AccountSeries.iterrows():
    cur.execute(series_table_insert, list(row))

In [ ]:
conn.commit()